<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wedding</title>
    <link href="{% static 'main/css/wedding_page_style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'main/fonts/DancingScript-Bold.ttf' %}" >
    <link rel="stylesheet" href="{% static 'main/fonts/DancingScript-Medium.ttf' %}" >
    <link rel="stylesheet" href="{% static 'main/fonts/DancingScript-Regular.ttf' %}" >
    <link rel="stylesheet" href="{% static 'main/fonts/DancingScript-SemiBold.ttf' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="part_1">
        <p class="p1_main_text_left"> Юлия </p> <br>
        <p class="p1_main_text_center"> и</p>   <br>
        <p class="p1_main_text_right"> Александр</p>
        <p class="p1_date">06.09.2024</p>
    </div>
    <main>
        <div class="center">
            <div class="part_2">
                <h2>Добро пожаловать дорогой гость!</h2>
                <p>Если Вы читаете это - то вы один из тех, с кем бы мы хотели провести вечер в день нашей
                    свадьбы и разделить всю радость момента!</p>
                <p>Это будет не классическая свадьба по которой снимали фильм "Горько". Выкупов,
                    переездов с места на место, цыган, краж невесты или жениха и прочих издевательств
                    над молодыми вы не увидите. Мы видим этот день иначе. Мы хотим провести этот день
                    вкругу родных и близких людей в атмосфере добра, легкости и непренужденности, где
                    никто не обязан соответсвовать какому-то шаблону, а просто наслаждается моментом.
                    Поверьте, мы приложили немало усилий и вам будет чем насладиться! Для тех, кто
                    прочитав это сейчас восклицает "Как это так? Это же не свадьба!" можем предложить
                    организовать своё мероприятие и сделать его таким, каким оно должно быть по Вашему
                    мнению.
                </p>
                <p>Отдельно хотим обозначить то, что в числе приглашенных есть люди из разных стран,
                не только из Беларуси. Если у Вас есть острые политические, религиозные, территориальные
                    и другие взгляды, от которых вы не можете отказаться даже на один вечер - пожалуйста
                    оставайтесь дома. Наш вечер мы хотим провести вне политики и иных проблем.</p>
                <div class="part_2_2">
                    <div class="part_2_2_text">
                        <p>
                            Если вы дочитали до сюда и вас не испугала предыдующая информация - то будем рады
                            видеть Вас на своём бракосочетании! В 15:50, 06 сентября 2024 в агроусадьбе
                            <a href="https://horosheemesto.by/" target="_blank" title="перейдите по ссылке для большей информации">
                            "Хорошее место"</a> по адресу Гомельский район д. Осовцы, Приозёрная ул., 1Б.
                        </p>
                        <p>Вы можете приехать и раньше. В 15:50 к гостям выйдет невеста и начнется церемония, я
                        же буду с гостями всегда. Не рекомендуем приезжать раньше 14:00 - Вы рискуете застать
                        приготовления, успеть устать или захмелеть ;) Считаем, что оптимальным временем приезда
                        будет 15:00. А вообще приезжайте когда хотите - мы будем вам рады и в 17:00 и даже в 22:30</p>
                        <p>Для подтверждения своего присутсвия пожалуйста заполните форму, расположенную в нижней
                        части страницы. Заполненная форма поможет нам сделать вечер еще более комфортным в первую
                        очередь для Вас, а также облегчит нам организацию. Обращаем Ваше внимание, что отправленная форма является подтверждением того
                        что Вы приняли приглашение и намерены присутсвовать на свадьбе. Если Вы заполнили форму, а
                        потом ситуация изменилась - пожалуйста сообщите об этоом отдельно.</p>
                    </div>
                    <img src="{% static 'main/img/marshrut1.png' %}">
                </div>
            </div>
            <div class="part_3">
                <h2> Второй день</h2>
                <div class="part_3_content">
                    <div class="part_3_text">
                        <p>Второй день будет проходить в усадьбе <a href="https://village35.by/" target="_blank" title="перейдите по ссылке для большей информации">
                        THE VILLAGE 35</a>. Это замечательная усадьба с потрясающим видом на рассвет, огромной
                        территорией, которая доходит почти до самой реки, уютными беседками и террасой, а также
                        баней. Посмотреть фото, а также узнать больше информации вы можете перейдя по ссылке, кликнув
                        на название усадьбы. Расположена она по адресу: Ветковский район, деревня Хальч, улица Набережная,
                        дом 35. Всего в 570-ти метрах от остановки общественного транспорта, на которой ещё есть
                        и магазин. Почти что рай ;)</p>
                        <p>Место действительно хорошее. В доме достаточно спальных мест, всем не хватит, но кто захочет
                        отдохнуть сможет это сделать с комфортом. Речка в 200 метрах от участка. Можно брать удочки, кто
                        любитель рыбалки. Крытые, просторные беседки. Есть баня с небольшим бассейном (купелью). Правда
                            баню пока не снимали так как не знаем объёма потребности, по этому просим при заполнении формы
                        указать пойдёте ли вы в баню или нет. Единственный минус этого места в том, что дом расположен
                        среди жилого массива деревни, по этому после 23:00 сильно не пошумишь. Так же не исключена
                        возможнасть нахождения хозяев усадьбы на территории (у них отдельный небольшой домик на территории).
                        Но территория большая по этому места хватит всем, просто ведите себя прилично и всё.</p>
                        <p>Второй день будет проходить всё в той же обстановке лёгкости и непренужденности под лозунгом
                        "Доедаем не съеденое, допиваем не выпитое". Шашлыки, овощи, фрукты. Восстанавливаемся после первого
                        дня по этому по алкоголю планируем купить только пива, по этому отмечайте пожалуйста в форме какое
                        предпочитаете, и пару бутылок шампанского. Из крепкого - только то, что останется после первого дня
                            и то, если останется. Просим учитывать эту информацию.</p>
                        <p>Так же будет круто и вы очень нам поможете если проявите активность и в форме укажите что интересное
                        вы сможете взять с собой. Например "У меня есть волейбольный мяч" или "Я захвачу бадминтон", или "У меня
                            есть крутая игра и я могу взять её с собой" и так далее. На втором дне не будет ведущего и
                            музыкантов, это как отдых на природе просто в более комфортных условиях и только от нас с вами
                            зависит как мы его проведем! ;)</p>
                    </div>
                    <img class="part_3_img" src="{% static 'main/img/marshrut2.png' %}">
                </div>
            </div>
            <section class="part_form">
                <h2>Форма</h2>
                <div >
                    <form class="forma" action="/" method="POST">
                        {% csrf_token %}
    <!--                        {% for i in form.name %}-->
    <!--                            {{i}}-->
    <!--                        {% endfor %}-->
    <!--                    <br>-->
    <!--                    <br>-->
    <!--                        {% for i in form %}-->
    <!--                            {{i}}-->
    <!--                        {% endfor %}-->

                        <br>
    <!--                    {{ form.name.label }}-->
    <!--                    {{ form.name }}-->
    <!--                    {{ form.name.help_text }}-->
                        <table>
                            {{ form.as_table }}
                        </table>
                        <br>
    <!--                    <ul>-->
    <!--                        {{ form.as_ul }}-->
    <!--                    </ul>-->
    <!--                    <br>-->
    <!--                     <br>-->
    <!--                    <p>-->
    <!--                        {{ form.as_p }}-->
    <!--                    </p>-->
    <!--                    <br>-->
    <!--                     <br>-->
    <!--                    <div>-->
    <!--                        {{ form.as_div }}-->
    <!--                    </div>-->
    <!--                    <br>-->

    <!--                    {{ form }}-->
                        <h3>my name is {{name}} </h3>
                        <h3>my surname is {{surname}} </h3>
                        <h3>I would like to drink {{drink}} </h3>
                        <h3>Second day {{s_day}} </h3>
                        <h3>sauna {{sauna}} </h3>
                        <h3>beer {{beer}} </h3>

                        <button type="submit">Отправить данные</button>
                    </form>
                </div>

            </section>
        </div>
    </main>
</body>
</html>